{% extends 'main/base.html' %}

{% block title %}
Добавить услугу
{% endblock %}

{% block content %}
    <div class="features">
        <h1 class="head-create">Форма по добавлению услуги</h1>
        <form class="form-add" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.anons }}<br>
            {{ form.content }}<br>
            {{ form.date }}<br>
            {{ form.image }}<br>
            <span>{{ error }}</span>
            <button type="submit" class="btn-podrob-news"><p>Добавить услугу</p></button>
        </form>
    </div>
{% endblock %}