{% extends 'main/base.html' %}

{% block title %}
Наш ассортимент
{% endblock %}

{% block content %}
<div class="features">
    <h1>{{ title }}</h1>
    {% if news %}
        <div class="flex-box-news">
            {% for el in news %}
                <div class="box-news">
                    <div class="txt-box-news">
                        <h3>{{ el.title }}</h3>
                        <p>{{ el.anons }}</p>

                        <img id='photo-to-box-news' src="./images/{{ el.image }}" alt="photo"><br><br>
                    </div>
                    <a href="{% url 'news-detail' el.id %}"><button class="btn-podrob-news"><p>Подробнее</p></button></a>
                </div>

            {% endfor %}
        </div>
    {% else %}
        <p>Нет товаров</p>
    {% endif %}
</div>
{% endblock %}
