{% extends 'main/base.html' %}

{% block title %}
О нас
{% endblock %}

{% block content %}
<div class="features">
    <h1 class="h1-onas">О нас и чем мы занимаемся</h1>
    <p class="p-onas">Мы предоставляем такие услуги как:
    <ul>
        <li class="li-onas">Продажа товаров (таких как материалы, радиаторы, котлы, инструмент и многое другое)</li>
        <li class="li-onas">Сантехнические услуги от опытного сантехника и выполнение работы</li>
    </ul>
        <br> </p>
    <button class="btn btn-danger">На главную</button>
</div>
{% endblock %}