{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Контакты
{% endblock %}

{% block content %}
<div class="features">
    <div class="divcongen">
        <div class="divcon1">
            <h4 class="divcon1h4">Контакты магазина</h4>
            <p class="divcon1p">+375(29)213-02-97 — Светлана</p>
            <p class="divcon1p">Режим работы магазина:</p>
            <p class="divcon1p2">9:00 - 18:00 <br>Выходной - воскресенье</p>
            <p class="divcon1p">По телефону можно уточнить наличие интересуещего вас материала</p>
            <p class="divcon1p">elsant.shop@gmail.com — на почту вы также можете задать интересующий вас вопрос, по наличию товара в магазине</p>
        </div>
        <div class="divcon2">
            <h4 class="divcon2h4">Контакты сантехника</h4>
            <p class="divcon2p">+375(29)595-52-63 — Виктор</p>
            <p class="divcon2p">По всем вопросам сантехники обращаться к Виктору, он внесёт вас в своё расписание и бесплатно составит список, при покупке всех материалов для работы в нашем магазине</p>
        </div>
        <div class="divcon3">
            <h4 class="divcon3h4">Есть вопросы по сайту?</h4>
            <p class="divcon3p">elsant.shop@gmail.com — наша почта, где вы можете указать свою проблему, связанную с сайтом. Сайт находится в разработке, поэтому багов не избежать.</p>
        </div>
    </div>
</div>
{% endblock %}