{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Контакты
{% endblock %}

{% block content %}
<div class="features">
    <div class="divcongen">
        <div class="divcon1">
            <h4 class="divcon1h4">Контакты магазина</h4>
            <p class="divcon1p">+375(29)213-02-31</p>
        </div>
        <div class="divcon2">
            <h4 class="divcon2h4">Контакты сантехника</h4>
            <p class="divcon2p">+375(29)595-52-35</p>
        </div>
        <div class="divcon3">
            <h4 class="divcon3h4">Есть вопросы по сайту?</h4>
            <p class="divcon3p">+375(44)757-77-23</p>
        </div>
    </div>
</div>
{% endblock %}