{% extends 'main/base.html' %}
{% load static %}
{% block title %}
ElSant
{% endblock %}

{% block content %}
<div id="app" class="features">
    <div class="div1index">
        <div class="text-div1">
            <h1 id="o-nas-k">О компании</h1>
            <p id="o-nas">В первую очередь, мы не просто продаём высококачественные сантехнические товары, мы стремимся к тому, чтобы каждый клиент ощущал индивидуальный подход и высочайший уровень обслуживания. Мы гордимся тем, что предлагаем не только широкий ассортимент продукции, но и полный спектр услуг по профессиональному монтажу и обслуживанию. Наша команда опытных специалистов всегда готова помочь вам выбрать оптимальные решения для вашего дома или бизнеса. Мы гарантируем, что с нами вы получите комфорт, надёжность и долговечность. Доверьте свои потребности в сантехнике настоящим профессионалам и убедитесь в качестве и мастерстве нашей работы!</p>
        </div>
        <div class="img-div1">
            <img src="{% static "main/img/bcgindex.jpg" %}" alt="teppol">
        </div>
    </div>
</div>
{% endblock %}