* {
    margin: 0;
    padding: 0;
}

.josefin-sans-<uniquifier> {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
	height: 100vh;
	display: flex;
    flex-direction: column;
}

aside {
	-moz-transition: all 600ms;
    -webkit-transition: all 600ms;
    transition: all 600ms;
	left: -396px;
    width: 400px;
    background-color: #0C0E10;
	top: 0;
    position: fixed;
	z-index: 1000;
    height: 100vh;
	border-right: 4px solid silver;
	border-bottom: 4px solid silver;
	border-radius: 0px 0px 10px 0px;
}

body {
    background-color: #000;
}

.logo-img {
	transition: all ease 1s;
    padding-top: 20px;
    margin-bottom: 30px;
    height: 200px;
}

.logo-img:hover {
    transform: scale(1.05);
}

.logo-text {
    font-family: "Josefin Sans";
    font-size: 50px;
    position: relative;
    color: white;
}

.nav {
    color: white;
    padding-left: 15px;
}

aside ul a:first-child {
    padding-top: 10px;
}

aside ul a {
    display: block;
    position: relative;
    padding-bottom: 10px;
    text-decoration: none;
    color: white;
    text-align: left;
    list-style-type: none;
    font-size: 20px;

}

aside ul a:hover {
    transform: scale(1.04);
    transition: 0.5s;
    border-color: white;
}

.dob-tov {
    /*background: rgb(182,26,182);*/
    /*background: linear-gradient(90deg, rgba(182,26,182,1) 0%, rgba(206,140,222,1) 50%, rgba(0,8,215,1) 100%);*/
    /*animation: gradient 4s infinite linear;*/
    /*background-size: 400%;*/
	display: inline-block;
	box-sizing: border-box;
	padding: 0 25px;
	margin: 0 15px 15px 0;
	outline: none;
	border: 1px solid #a4afba;
	border-radius: 3px;
	height: 32px;
	line-height: 32px;
	font-size: 18px;
	font-weight: 500;
	text-decoration: none;
	background: rgb(182,26,182);
    background: linear-gradient(90deg, rgba(182,26,182,1) 0%, rgba(206,140,222,1) 50%, rgba(0,8,215,1) 100%);
	/*background-color: #fff;*/
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
}

@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}

header {
	transition: background-color 1s ease;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	position: fixed;
	z-index: 100;
	padding: 10px;
	background-color: #000;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #fff;
}

footer {
	transition: background-color 1s ease;
	background-color: #000;
    height: 250px;
    position: relative;
    left: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: block;
    flex-direction: column;
    justify-content: center;
	margin-top: 50px;
	border-radius: 10px 10px 0px 0px;
	border-top: 1px solid #fff;
}

#app {
	margin-left: 50px;
}

header div:not(:first-child){
	margin-right: 10px;
}

header:hover {
	background-color: #3D0C22;
}

footer:hover {
	background-color: #3D0C22;
}

.logo-img-head {
	height: 100px;
	transition: all ease 0.5s;
}

#logo-text {
	font-family: "Josefin Sans";
	font-size: 20px;
    position: relative;
    color: white;
	margin: 0;
}

.elsfr {
    font-family: "Josefin Sans";
    font-size: 50px;
    position: relative;
    color: white;
	padding-top: 20px;
}

#sidebar .toggle-btn {
    position: absolute;
    left: 405px;
    top: 17px;
    background: #8C567D;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

#sidebar .toggle-btn:hover {background: #556270}

#sidebar .toggle-btn:hover span {background: #fafafa}

#sidebar.active {
    left: 0;
}

#bi-search{
	margin-right: 10px;
	margin-left: 100px;
	padding-bottom: 20px;
	filter: brightness(0) invert(1);
}

.gen-search {
	position: relative;
}

#search-form {
	transition: all ease 0.5s;
	width: 300px;
	border-radius: 20px;
	background-color: #130008;
	border: white solid 1px;
	color: #fff;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	text-align: left;
}

#search-form:focus {
	background-color: #fff;
	color: #000;
}

.head-div {
	margin-left: 50px;
}

.form-add {
	width: 300px;
}

.features {
	margin-left: 20px;
	margin-top: 100px;
}

#o-nas-k {
	font-size: 40px;
	position: relative;
	color: #fff;
}

#o-nas {
	font-size: 20px;
	color: #fff;
	filter: brightness(0.5);
}

.div1index {
	display: flex;
}

.text-div1 {
	padding: 15px;
	border-radius: 20px;
	margin-right: 50px;
}

.img-div1 {
	margin-right: 40px;
}

.img-div1 img {
	border-radius: 20px;
	height: 550px;
	background-attachment: fixed;
}

.icon-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
	justify-self: center;
    align-items: center;
    margin-left: 290px;
}

.icon-button i {
    font-size: 24px;
    color: #A76C8C;
    transition: color 0.3s ease;
}

.icon-button:hover i {
    color: #e0e0e0;
}

.icon-button:active i {
    color: #000;
}

#photo-to-box-news {
	height: 150px;
	width: auto;
	border-radius: 10px;
}

.flex-box-news {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.box-news {
    transition: all ease 0.5s;
    height: 250px;
    background-color: #000;
    border-radius: 7px;
    border: 3px solid #fff;
    width: calc(23% - 20px);
    padding-left: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.box-news:hover {
	background-color: #A76C8C;
	transform: scale(1.05);
}

.logo-img-head:hover {
	transform: scale(1.1);
}

.btn-podrob-news {
	transition: all ease 0.5s;
	margin-bottom: 130px;
	border: 2px solid #fff;
	border-radius: 6px;
	background-color: #30031E;
	padding: 5px 8px;
	color: #fff;
}

.btn-podrob-news:hover {
	background-color: #3D0C22;
}

.btn-podrob-news:active {
	background-color: #A45786;
	border-color: #490A31;
}

.btn-podrob-news p {
	margin: 0;
	filter: brightness(0.7);
}

.btn-podrob-news p:active {
	color: #fff;
}

.txt-box-news {
	text-decoration: none;
	color: #fff;
	filter: brightness(0.9);
}

.txt-box-news a {
	text-decoration: none;
}

.txt-news-view {
	color: #fff;
}

.head-create {
	color: #fff;
	margin-bottom: 20px;
}

.flex-box-news > .box-news:last-child {
    margin-right: 50px;
}

.divcongen {
	display: flex;
}

.divcon1 {
	transition: background-color 0.6s ease;
	flex: 1;
	height: 400px;
	width: 100%;
	background-color: #170726;
	margin-right: 20px;
	border-radius: 15px;
	padding: 20px 15px;
}

.divcon2 {
	transition: background-color 0.6s ease;
	flex: 1;
	height: 400px;
	width: 100%;
	background-color: #170726;
	margin-right: 20px;
	border-radius: 15px;
	padding: 20px 15px;
}

.divcon3 {
	transition: background-color 0.6s ease;
	flex: 1;
	height: 400px;
	width: 100%;
	background-color: #170726;
	margin-right: 20px;
	border-radius: 15px;
	padding: 20px 15px;
}

.divcon1:hover {
	background-color: #28153B;
}

.divcon2:hover {
	background-color: #28153B;
}

.divcon3:hover {
	background-color: #28153B;
}

.divcon1h4 {
	color: #fff;
	filter: brightness(1);
	font-size: 30px;
	text-align: center;
	font-family: "Montserrat", sans-serif;
}

.divcon1p {
	color: #fff;
	filter: brightness(0.7);
	font-size: 18px;
	font-family: "Montserrat", sans-serif;
	margin-top: 20px;
	margin-bottom: 0px;
}

.divcon1p2 {
	color: #fff;
	filter: brightness(0.7);
	font-size: 18px;
	font-family: "Montserrat", sans-serif;
}

.divcon2h4{
	color: #fff;
	filter: brightness(1);
	font-size: 30px;
	text-align: center;
	font-family: "Montserrat", sans-serif;
}

.divcon2p {
	color: #fff;
	filter: brightness(0.7);
	font-size: 18px;
	font-family: "Montserrat", sans-serif;
	margin-top: 20px;
}

.divcon3h4{
	color: #fff;
	filter: brightness(1);
	font-size: 30px;
	text-align: center;
	font-family: "Montserrat", sans-serif;
}

.divcon3p {
	color: #fff;
	filter: brightness(0.7);
	font-size: 18px;
	font-family: "Montserrat", sans-serif;
	margin-top: 20px;
}

.h1-onas {
	color: #fff;
	font-family: "Montserrat", sans-serif;
	font-size: 40px;
}

.p-onas {
	color: #fff;
	font-size: 18px;
	filter: brightness(0.8);
	font-family: "Montserrat", sans-serif;
	margin-top: 20px;
}

.li-onas {
	color: #fff;
	filter: brightness(0.7);
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
}

.ul-menu ul>a {
    text-decoration: none;
    color: white;
    text-align: left;
    list-style-type: none;
    font-size: 20px;
}

.ulingen li {
	display: inline;
	margin-left: 50px;
	margin-top: 20px;
}

.ulingen li:first-child {
	margin-left: 100px;
}

.ulingen {
	display: flex;
}